<!DOCTYPE html>
<html lang="en">
<head>

	<title>ToBigs 13th Conference Music Recommendation</title>
	<!--

    Template 2106 Soft Landing

	http://www.tooplate.com/view/2106-soft-landing

    -->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/css/jquery-ui.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/tooplate-style.css">

</head>

<body>

    <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">OK Mugle! </a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a href="/" class="smoothScroll" >Music Recommendation</a></li>
                         <li><a href="/about" class="smoothScroll">About</a></li>
                         <li><a href="/people" class="smoothScroll">People</a></li>
                    </ul>
               </div>

          </div>
     </section>

     <!-- About -->
     <!-- TESTIMONIAL -->
     <section id="about" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="section-title">
                              <h1 style = "color:white;">ABOUT</h1>
                         </div>
                    </div>

                    <div class="col-sm-12">
                         <h2 style = "color: white; text-align: center;">OK Mugle! (장르부터 멜로디까지, Content-based Music Recommendation)</h2>
                         <br><br>
                         <img src="static/images/model.png" width="1200" height="400" >
                         <br><br>
                         <h4 style = "color:white; text-align: center; ">웹서비스 설명 어쩌구 Quisque ullamcorper sem quis sapien cursus efficitur. Sed id sodales ipsum. Morbi eleifend tempus erat sit amet vehicula. Nulla at posuere tellus, non mattis erat. Nulla id massa gravida. Mauris rutrum est at fringilla pulvinar. Nam ligula urna, lobortis non scelerisque vel, molestie eu massa. Nullam mattis elit at tortor accumsan.</h4>
                    </div>

                    
               </div>
          </div>
     </section>